@charset "UTF-8";

/*
Base
*/
body {
  font-family: "Noto Sans JP", sans-serif, "Helvetica Neue", Arial,
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: #121212;
}

/*
section
*/
.section {
  padding: 30px 15px;
}
.section-headline {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin: 0 0 40px;
}

/*about*/
.about {
  margin: 0;
  display: flex;
}
/* .about-img {
} */
.about-caption {
  padding-left: 20px;
}
.about-headline {
  margin: 0 0 20px;
  font-size: 30px;
}
/* .about-description {
} */
